[run]
omit =
    **/commands/**
    **/factories/**
    **/migrations/**
    **/settings/**
    **/tests/*
    .venv/*
    .env/*
    *__init__.py
    *admin.py
    *quantities.py
    *renderers.py
    *storage.py
    *test*.py
    *wsgi.py

[report]
sort = -cover
omit =
    **/commands/**
    **/factories/**
    **/migrations/**
    **/settings/**
    **/tests/*
    .venv/*
    .env/*
    *__init__.py
    *admin.py
    *quantities.py
    *renderers.py
    *storage.py
    *test*.py
    *wsgi.py

[html]
directory = coverage
