# -----------------------------------------------------------------------------
# SYSTEM
# -----------------------------------------------------------------------------

.bash_history
.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# KEYS & TEMPORARY FILES
# -----------------------------------------------------------------------------

configs/aws/*/aws-credentials.json
configs/aws/*/compose.temp.yml
configs/aws/*/db.creds.json
configs/aws/*/db.sql
configs/aws/*/dns-add-record.json
configs/aws/*/dns-delete-record.json
configs/vault/
*.pem
*.pub
*.log
*.tar.gz

# -----------------------------------------------------------------------------
# IDEs and EDITORS
# -----------------------------------------------------------------------------

.c9/
.history/
.idea/
.settings/
.classpath
.project
.mr.developer.cfg
.pydevproject
*.chproj
*.launch
*.sublime-*
*.sublime-workspace
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# -----------------------------------------------------------------------------
# DOCKER
# -----------------------------------------------------------------------------

docker-compose.override.yml
docker-compose.local.yml
local.yml

# Unit test / coverage reports
.coverage
.pytest_cache/

# Physical quantities module (Valispace version)
src/pint
