# Valispace packages
valispace==0.1.16   # Valispace API

# Basic scientifical packages
pint==0.20.1        # Python library used for scientific
scipy==1.9.3        # Python library to define, operate and manipulate physical quantities

# Add other packages here
requests==2.28.2
openpyxl==3.0.10
xlrd==1.2.0
natsort==8.2.0
docx-mailmerge2==0.6.2
docx2python==2.0.4
python-docx==0.8.11
Pillow==9.3.0
htmldocx==0.0.6
pip-system-certs==3.1
Pandas==1.5.3
numpy==1.23.5