### Requirements (alphabetical order)
valispace==0.1.16                               # Valispace API
### Basic scientifical packages (alphabetical order)
scipy==1.7.3                                    # Scientific Library for Python
pint==0.18                                      # Physical quantities module
