name: 'Continuous Integration'

concurrency:
  group: 'ci-${{ github.repository_id }}'
  cancel-in-progress: true

on:

  schedule:
    - cron: '15 2 * * 1-5' # At minute 15 past hour 2 on every day-of-week from Monday through Friday

jobs:

  static-application-security-testing:

    name: 'Static Application Security Testing (SAST)'

    permissions:
      contents: read
      actions: read

    runs-on: ubuntu-latest

    steps:

      - name: 'Set up steps'
        id: setup
        run: |
          echo "::set-output name=repository::$( echo "${{ github.repository }}" )"
          echo "::set-output name=repository-owner::$( echo "${{ github.repository_owner }}" )"
          echo "::set-output name=repository-name::$( echo "${{ github.repository }}" | sed --regexp-extended --expression 's|${{ github.repository_owner }}\/||g' )"
          echo "::set-output name=branch-name::$( echo "${{ github.ref_name }}" )"
          echo "::set-output name=branch-ref::$( echo "${{ github.ref }}" )"
        shell: bash

      - name: 'Check out repository'
        id: checkout
        uses: actions/checkout@v3
        with:
          ref: '${{ steps.setup.outputs.branch-ref }}'

      - name: 'Set up python'
        id: python
        uses: ./.github/actions/setup-python
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        with:
          python-version: '3.9'
          python-requirements-file: 'requirements-dev.txt'

      - name: 'Check code with black'
        id: black
        if: ${{ success() || failure() }}
        uses: mathiasvr/command-output@v1
        with:
          run: black --target-version py39 --line-length 120 --check script_code
          shell: bash

      # - name: 'Check code with cspell'
      #   id: cspell
      #   if: ${{ success() || failure() }}
      #   uses: check-spelling/check-spelling@v0.0.20
      #   with:
      #     event_aliases: '{"workflow_dispatch":"push"}'
      #     spell_check_this: check-spelling/spell-check-this@main
      #     only_check_changed_files: false
      #     check_extra_dictionaries: true
      #     extra_dictionary_limit: 25
      #     extra_dictionaries:
      #       cspell:en_US/en_US.txt
      #       cspell:en_US/hyphenated-words.txt
      #       cspell:pt_PT/Portuguese-European.txt
      #       cspell:software-terms/software-terms.txt
      #       cspell:software-terms/software-tools.txt
      #       cspell:software-terms/network-protocols.txt
      #       cspell:software-terms/network-os.txt
      #       cspell:public-licenses/public-licenses.txt
      #       cspell:public-licenses/additional-licenses.txt
      #       cspell:companies/companies.txt
      #       cspell:aws/aws.txt
      #       cspell:docker/docker-words.txt
      #       cspell:git/git.txt
      #       cspell:django/django.txt
      #       cspell:npm/npm.txt
      #       cspell:bash/bash-words.txt
      #       cspell:python/python.txt
      #       cspell:python/python-lib.txt
      #       cspell:python/extra.txt
      #       cspell:python/additional_words.txt
      #       cspell:typescript/typescript.txt
      #       cspell:html/html.txt
      #       cspell:html-symbol-entities/entities.txt
      #       cspell:css/css.txt
      #       cspell:filetypes/filetypes.txt

      - name: 'Check code with pylint'
        id: pylint
        if: ${{ success() || failure() }}
        uses: mathiasvr/command-output@v1
        with:
          run: pylint --rcfile '.pylintrc' --py-version 3.9 --jobs 0 --recursive y --output-format text script_code
          shell: bash

      - name: 'Check code with bandit'
        id: bandit
        if: ${{ success() || failure() }}
        uses: mathiasvr/command-output@v1
        with:
          run: bandit --quiet --recursive --exclude **/tests.py,*/tests/*,*/conftest.py --aggregate vuln --format txt script_code
          shell: bash

      # - name: 'Check code with sonarqube'
      #   id: sonarqube
      #   if: ${{ success() || failure() }}
      #   uses: sonarsource/sonarqube-scan-action@master
      #   env:
      #     SONAR_HOST_URL: '${{ secrets.SONAR_HOST_URL }}'
      #     SONAR_TOKEN: '${{ secrets.SONAR_TOKEN }}'
      #   with:
      #     projectBaseDir: "script_code"
      #     args: "-Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.python.xunit.reportPaths=results.xml"

  unit-testing:

    name: 'Unit Testing'

    permissions:
      contents: read
      actions: read

    runs-on: ubuntu-latest

    steps:

      - name: 'Set up steps'
        id: setup
        run: |
          echo "::set-output name=repository::$( echo "${{ github.repository }}" )"
          echo "::set-output name=repository-owner::$( echo "${{ github.repository_owner }}" )"
          echo "::set-output name=repository-name::$( echo "${{ github.repository }}" | sed --regexp-extended --expression 's|${{ github.repository_owner }}\/||g' )"
          echo "::set-output name=branch-name::$( echo "${{ github.ref_name }}" )"
          echo "::set-output name=branch-ref::$( echo "${{ github.ref }}" )"
        shell: bash

      - name: 'Check out repository'
        id: checkout
        uses: actions/checkout@v3
        with:
          ref: '${{ steps.setup.outputs.branch-ref }}'

      - name: 'Set up python'
        id: python
        uses: ./.github/actions/setup-python
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        with:
          python-version: '3.9'
          python-requirements-file: 'requirements-dev.txt'

  dynamic-application-security-testing:

    name: 'Dynamic Application Security Testing (DAST)'

    permissions:
      contents: read
      actions: read

    runs-on: ubuntu-latest

    steps:

      - name: 'Set up steps'
        id: setup
        run: |
          echo "::set-output name=repository::$( echo "${{ github.repository }}" )"
          echo "::set-output name=repository-owner::$( echo "${{ github.repository_owner }}" )"
          echo "::set-output name=repository-name::$( echo "${{ github.repository }}" | sed --regexp-extended --expression 's|${{ github.repository_owner }}\/||g' )"
          echo "::set-output name=branch-name::$( echo "${{ github.ref_name }}" )"
          echo "::set-output name=branch-ref::$( echo "${{ github.ref }}" )"
        shell: bash

      - name: 'Check out repository'
        id: checkout
        uses: actions/checkout@v3
        with:
          ref: '${{ steps.setup.outputs.branch-ref }}'

      - name: 'Get build version'
        id: versioning
        uses: ./.github/actions/get-build-version
        with:
          python-versioning-file: 'valifn/__init__.py'

      - name: 'Build docker image'
        id: docker
        uses: ./.github/actions/build-docker-image
        with:
          docker-image-name: '${{ steps.setup.outputs.repository }}'
          docker-image-tag: '${{ steps.versioning.outputs.build-version }}'
          dockerfile: 'docker/Dockerfile'
          archive-name: '${{ steps.setup.outputs.repository-name }}-docker.tar.gz'

  report:

    name: 'Report'

    needs: [static-application-security-testing, unit-testing, dynamic-application-security-testing]

    if: ${{ success() || failure() }}

    permissions:
      contents: read
      actions: read

    runs-on: ubuntu-latest

    steps:

      - name: 'Set up steps'
        id: setup
        run: |
          echo "::set-output name=repository::$( echo "${{ github.repository }}" )"
          echo "::set-output name=repository-owner::$( echo "${{ github.repository_owner }}" )"
          echo "::set-output name=repository-name::$( echo "${{ github.repository }}" | sed --regexp-extended --expression 's|${{ github.repository_owner }}\/||g' )"
          echo "::set-output name=branch-name::$( echo "${{ github.ref_name }}" )"
          echo "::set-output name=branch-ref::$( echo "${{ github.ref }}" )"
          echo "::set-output name=channel::$( echo "#development" )"
        shell: bash

      - name: 'Check out repository'
        id: checkout
        uses: actions/checkout@v3
        with:
          ref: '${{ steps.setup.outputs.branch-ref }}'

      - name: 'Get build version'
        id: versioning
        uses: ./.github/actions/get-build-version
        with:
          python-versioning-file: 'valifn/__init__.py'

      - name: 'Get workflow status'
        id: workflow
        uses: martialonline/workflow-status@v3

      - name: Notify channel '#${{ steps.setup.outputs.channel }}'
        id: notify
        if: ${{ (steps.workflow.outputs.status == 'failure') }}
        uses: adamkdean/simple-slack-notify@v1.1.2
        env:
          SLACK_WEBHOOK_URL: '${{ secrets.SLACK_WEBHOOK_URL }}'
        with:
          channel: '${{ steps.setup.outputs.channel }}'
          status: '${{ steps.workflow.outputs.status }}'
          success_text:   '  [*SUCCESS*] <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }} (${{ steps.setup.outputs.repository }})>'
          failure_text:   '  [*FAILURE*] <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }} (${{ steps.setup.outputs.repository }})>'
          cancelled_text: '[*CANCELLED*] <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }} (${{ steps.setup.outputs.repository }})>'
          fields: |
            [
               { "title": "Version", "value": "${{ steps.versioning.outputs.build-version }}", "short": true }
              ,{ "title":  "Branch", "value": "<${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ steps.setup.outputs.branch-name }}>", "short": true }
            ]
